---
---
<div class="row">
  <div class="col-md-12">
<h4>{% if entry.url %}<a href="{{ entry.url }}">{% endif %}{{ entry.title }}
  ({% if entry.month %}{{ entry.month | capitalize | append: " "}}{% endif %}{{ entry.year }}){% if entry.url %}</a>{% endif %}</h4>
<b>{{ entry.author }}</b><br/>
{% if entry.journal %}
<i>{{ entry.journal }}</i><br/>
{% else if entry.booktitle %}
<i><b>{{ entry.booktitle }}</b></i><br/>
{{ entry.address }}<br/>
{% endif %}
<!-- {% if entry.doi %}
DOI : <a href="http://doi.org/{{ entry.doi }}">{{ entry.doi }}</a><br/>
{% endif %} -->
</div>
{% if entry.abstract %}
<p>{{ entry.abstract }}</p>
{% endif %}
</div>
