---
theme :
name : bootstrap
layout: default
---
{% include JB/setup %}
<div class="container-fluid">
  <div class="row">
    <div class="card col-md-10 col-md-offset-1 bg-dark">
      <div class="card-body">
        <div class="row g-0">
          <div class="col-sm-4">
            <img src="{{ BASE_PATH }}/assets/images/portrait.jpg" class="rounded-circle img-fluid"
              title="Ali Neishabouri" alt="Photo" />
          </div>
          <div class="col-sm-8">
            <h1 class="card-title">{{ page.title }} {% if page.tagline %} <small>{{ page.tagline
                }}</small>{% endif %}</h1>
            <h2>Short bio</h2>
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>News</h2>
      <dl class="row">
        {% for newsitem in site.data.news %}
        <dt class="col-sm-3">{{ newsitem.date }}</dt>
        <dd class="col-sm-9">
          <h3>{{ newsitem.title }}</h3>
          <p>{{ newsitem.body }}</p>
        </dd>
        {% endfor %}
      </dl>
    </div>
  </div>
</div>