---
theme :
name : bootstrap
layout: default
---
{% include JB/setup %}
<div class="col-md-8 col-sm-12 col-lg-6 mx-auto">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row g-0">
          <div class="col-sm-4">
            <img src="{{ BASE_PATH }}/assets/images/portrait.jpg" class="rounded-circle img-fluid"
              title="Ali Neishabouri" alt="Photo" />
          </div>
          <div class="col-sm-8">
            <h1 class="card-title">{{ page.title }} {% if page.tagline %} <small>{{ page.tagline
                }}</small>{% endif %}</h1>
            <h2>Short bio</h2>
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>